html {
	background-color: var(--page-background);
	color: var(--text-color);
}

body {
	font-family: "Circe Rounded", sans-serif;
	margin: auto;
	font-size: 100%;
	max-width: 1240px;
	padding: 0 20px;
}

a {
	color: var(--text-color);
}

a:hover {
	color: var(--text-color-light);
}

input[type="range"] {
	margin: auto;
	-webkit-appearance: none;
	position: relative;
	overflow: hidden;
	height: 6px;
	cursor: pointer;
	border-radius: 10px; /* iOS */
}

::-webkit-slider-runnable-track {
	background: rgb(190, 190, 190);
}

::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 0;
	height: 6px;
	background: rgb(255, 255, 255);
	border-radius: 50%;
	box-shadow: -100vw 0 0 100vw rgb(255, 255, 255);
}

::-moz-range-track {
	height: 6px;
	background: #ddd;
}

::-moz-range-thumb {
	background: #fff;
	height: 6px;
	width: 0;
	border: 3px solid #999;
	border-radius: 0 !important;
	box-shadow: -100vw 0 0 100vw rgb(255, 255, 255);
	box-sizing: border-box;
}

::-ms-fill-lower {
	background: rgb(255, 255, 255);
}

::-ms-thumb {
	background: #fff;
	border: none;
	height: 6px;
	width: 0;
	box-sizing: border-box;
}

::-ms-ticks-after {
	display: none;
}

::-ms-ticks-before {
	display: none;
}

::-ms-track {
	background: #ddd;
	color: transparent;
	height: 6px;
	border: none;
}

::-ms-tooltip {
	display: none;
}
