html {
	background-color: var(--page-background);
	color: var(--text-color);
}

body {
	font-family: "Circe Rounded", sans-serif;
	margin: auto;
	font-size: 100%;
	max-width: 1240px;
	padding: 0 20px;
}

a {
	color: var(--text-color);
}

a:hover {
	color: var(--text-color-light);
}
